<div>
  <%= f.label :name %>
  <%= f.text_field :name, list: "ingredients_autocomplete", class: "block border border-grey-light w-full p-2 rounded mb-2" %>
    <datalist id="ingredients_autocomplete">
      <% Ingredient.all.each do |ingredient| %>
        <option value="<%= ingredient.name %>">
      <% end %>
    </datalist>
</div>
