<h1 class="font-header text-6xl tracking-wider">Welcome, <%= link_to current_user.username, edit_password_path(current_user) %></h1>

<%= render @cocktails %>

<div>
  <%= button_to "Logout", signout_path, method: :delete %>
</div>
<div>
  <%= link_to "Create a Cocktail", new_cocktail_path %>
</div>