<div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-2 mt-2 md:mt-32">
  <div class="bg-white px-6 py-6 rounded shadow-2xl text-grey w-full">
    <h1 class="mb-4 text-3xl text-center font-header">Create a Cocktail</h1>

    <%= render "form", cocktail: @cocktail %>
  </div>
</div>