<div class="bg-white rounded-lg p-2 flex flex-col justify-center w-full md:w-3/4 items-center md:items-start shadow-lg mb-4">
  <div class="flex flex-row justify-center mr-2">
    <h3 class="text-purple font-header tracking-wider text-xl text-center md:text-left "><%= link_to comment.user.username, user_cocktails_path(comment.user) %></h3>
  </div>
  <p class="text-lg text-center md:text-left"><%= comment.body %></p>
</div>