<% if flash[:notice] %>
  <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-purple">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red">
    <%= flash[:alert] %>
  </div>
<% end %>