<h1 class="font-header text-3xl md:text-6xl tracking-wider text-center mb-8 md:mb-16"><%= link_to current_user.username, edit_password_path(current_user) %>'s Ingredients</h1>

<ul>
  <%= render @ingredients %>
</ul>
